<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box16
        link(rel="stylesheet", href="/css/styles.css")
    body
        .screen
            .screen__col1
            .screen__col2
                .screen__col2__sec1
                    .screen__col2__sec1__box1
                    .screen__col2__sec1__box2
                .screen__col2__sec2
                    .screen__col2__sec2__add1
                    .screen__col2__sec2__add2